/*-------------------------------------------------------------------------------------------
Mercer Evolution v4.0.0
Stepper v1.0.1 - SASS
DATE: May 26, 2016
AUTHOR: Douglas Fraize, Matthew Holmes, Sherry Seeton
URL: http://evolution.mercer.com
--------------------------------------------------------------------------------------------*/
.evo-stepper::before, .evo-stepper::after {
  content: ' ';
  display: table;
}
.evo-stepper::after {
  clear: both;
}
.evo-stepper .evo-stepper-item {
  border-radius: 1.875rem;
  background-clip: padding-box;
  display: block;
  float: left;
  margin: 0.1875rem 0.625rem 0.1875rem 0;
  width: 0.875rem;
  height: 0.875rem;
  background-color: #cccccc;
}
.evo-stepper .evo-stepper-item:last-child {
  margin-right: 0;
}
.evo-stepper [data-evo-stepper-state="complete"] {
  background-color: #e6e6e6;
}
.evo-stepper [data-evo-stepper-state="active"] {
  margin: 0 0.625rem 0 0;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #002C77;
}
