/*------------------------------------------------------------------------------------------
Project Name v1.0.0 - Application IE CSS
DATE: May 26, 2016
AUTHOR: Douglas Fraize, Matthew Holmes, Sherry Seeton
URL: https://evolution.mercer.com
-------------------------------------------------------------------------------------------*/
/*=== IE STYLES ===========================================================================*/
