/*-------------------------------------------------------------------------------------------
Mercer Evolution v4.0.0
Thin Footer v1.0.1 - SASS
DATE: May 26, 2016
AUTHOR: Douglas Fraize, Matthew Holmes, Sherry Seeton
URL: http://evolution.mercer.com
--------------------------------------------------------------------------------------------*/
.evo-thin-footer .evo-footer-content-section {
  background-color: #FEFEFE;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e6e6e6;
  padding-top: 1.25rem;
  min-height: 5rem;
}
.evo-thin-footer .evo-footer-content-section .evo-social-media-badges-ctn {
  margin-bottom: 1rem;
  text-align: center;
}
.evo-thin-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"] {
  color: #002C77;
}
.evo-thin-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"]:hover {
  color: #002C77;
}
.evo-thin-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"]:focus {
  color: #002C77;
}
.evo-thin-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"]:visited {
  color: #002C77;
}
@media screen and (min-width: 48em) {
  .evo-thin-footer .evo-footer-content-section .evo-social-media-badges-ctn {
    margin-bottom: 0;
    text-align: left;
  }
}
.evo-thin-footer .evo-footer-content-section .evo-thin-footer-logo {
  margin-bottom: 0.75rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .evo-thin-footer .evo-footer-content-section .evo-thin-footer-logo {
    margin-bottom: 0;
    text-align: left;
  }
}
.evo-thin-footer .evo-footer-links {
  float: none;
  text-align: center;
}
.evo-thin-footer .evo-footer-links li a {
  font-size: 0.875rem;
  color: #002C77;
}
.evo-thin-footer .evo-footer-links li a:hover {
  color: #002666;
}
@media screen and (max-width: 47.9375em) {
  .evo-thin-footer .evo-footer-links {
    float: none;
  }
  .evo-thin-footer .evo-footer-links li {
    border: 0;
    float: none;
    line-height: 1.875rem;
    margin: 0;
    padding: 0;
  }
  .evo-thin-footer .evo-footer-links li a {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .evo-thin-footer .evo-footer-links {
    float: right;
    text-align: left;
  }
  .evo-thin-footer .evo-footer-links::before, .evo-thin-footer .evo-footer-links::after {
    content: ' ';
    display: table;
  }
  .evo-thin-footer .evo-footer-links::after {
    clear: both;
  }
  .evo-thin-footer .evo-footer-links li {
    border-right-color: #b3b3b3;
  }
}
.evo-thin-footer .evo-thin-footer-brand-bar {
  background-color: #e6e6e6;
  min-height: 3.125rem;
}
.evo-thin-footer .evo-thin-footer-brand-bar small {
  color: #808080;
}
.evo-thin-footer .evo-footer-copyright {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .evo-thin-footer .evo-footer-copyright {
    text-align: left;
  }
}
.evo-thin-footer .evo-footer-logo {
  margin-top: 0.75rem;
  text-align: center;
}
.evo-thin-footer .evo-footer-logo a {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .evo-thin-footer .evo-footer-logo {
    text-align: right;
  }
  .evo-thin-footer .evo-footer-logo a {
    text-align: left;
  }
}
