/*-------------------------------------------------------------------------------------------
Mercer Evolution v4.1.0
Fat Footer v1.0.1 - SASS
DATE: July 1, 2016
AUTHOR: Douglas Fraize, Matthew Holmes
URL: http://evolution.mercer.com
--------------------------------------------------------------------------------------------*/
.evo-fat-footer .evo-footer-content-section {
  background-color: #fafafa;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e6e6e6;
  padding-top: 1.25rem;
  min-height: 12.5rem;
}
.evo-fat-footer .evo-footer-content-section .evo-social-media-badges-ctn {
  margin-bottom: 1.25rem;
  text-align: center;
}
.evo-fat-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"] {
  color: #002C77;
}
.evo-fat-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"]:hover {
  color: #002C77;
}
.evo-fat-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"]:focus {
  color: #002C77;
}
.evo-fat-footer .evo-footer-content-section .evo-social-media-badges-ctn a[class^="evo-icon-"]:visited {
  color: #002C77;
}
@media screen and (min-width: 48em) {
  .evo-fat-footer .evo-footer-content-section .evo-social-media-badges-ctn {
    text-align: left;
  }
}
.evo-fat-footer .evo-footer-content-section .evo-fat-footer-logo {
  margin-bottom: 1.5625rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .evo-fat-footer .evo-footer-content-section .evo-fat-footer-logo {
    text-align: left;
  }
}
.evo-fat-footer .evo-footer-link-hdr {
  color: #000000;
  font-size: 0.75rem;
}
.evo-fat-footer .evo-footer-links {
  text-align: center;
}
.evo-fat-footer .evo-footer-links li a {
  color: #002C77;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5625rem;
}
.evo-fat-footer .evo-footer-links li a:hover {
  color: #002666;
}
@media screen and (min-width: 48em) {
  .evo-fat-footer .evo-footer-links {
    text-align: left;
  }
  .evo-fat-footer .evo-footer-links li {
    padding-bottom: 0.3125rem;
  }
}
.evo-fat-footer .evo-fat-footer-brand-bar {
  background-color: #e6e6e6;
  min-height: 3.125rem;
}
.evo-fat-footer .evo-fat-footer-brand-bar small {
  color: #808080;
}
.evo-fat-footer .evo-footer-copyright {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .evo-fat-footer .evo-footer-copyright {
    text-align: left;
  }
}
.evo-fat-footer .evo-brand-bar-footer-logo {
  margin-top: 0.75rem;
  text-align: center;
}
.evo-fat-footer .evo-brand-bar-footer-logo a {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .evo-fat-footer .evo-brand-bar-footer-logo {
    text-align: right;
  }
  .evo-fat-footer .evo-brand-bar-footer-logo a {
    text-align: left;
  }
}
